:root {
  --primary-color: #008fee;
  --primary-color-v: #0079ca;
  --secondary-color: #ffffff;
  --tertiary-color: #ffffff;
  --font-color: #08090a;
  --bg-color: #ffffff;
  --bg-color2: #f0f0f5;
  --border-color: #b8b8b8;
  --side-button-bg-color: #ffffff;
  --side-bg-color: #ffffff;
  --side-border-color: #b8b8b8;
  --side-border-bottom-color: #b8b8b8;
  --heading-color: #08090a;
  --link-color: #0043d3;
  --footer-bg-color: #dfdfe4;
  --footer-color: #494949;
  --footer-border-color: #e1e1e1;
  --form-bg-color: #ffffff;
  --input-border-color: #b8b8b8;
  --input-bg-color: #ffffff;
  --scrollbarBG: #dae1e7;
  --thumbBG: #c9d0d3;

  --navbar-max-height: 60px;
  --navbar-border-width: 1px;
  --navbar-bg-color: #ffffff;
  --navbar-bg-color-hover: #e5e5e5;
  --navbar-max-width: 1280px;
  --navbar-padding-top-and-bottom: 12px;
  --navbar-padding-sides: 32px;
  --body-max-width: calc(var(--navbar-max-width) - var(--navbar-padding-sides));
  --body-margin: 0px auto;
  --body-padding: clamp(16px,2vw,32px);
}
html[data-theme = "dark"]{
  --primary-color: #008fee;
  --primary-color-v: #0079ca;
  --secondary-color: #ffffff;
  --tertiary-color: #ffffff;
  --font-color: #ececec;
  --bg-color: #121215;
  --bg-color2: #23232a;
  --border-color: #565656;
  --side-button-bg-color: #202025;
  --side-bg-color: #202025;
  --side-border-color: #565656;
  --side-border-bottom-color: #808080;
  --heading-color: #ececec;
  --link-color: #57c4ff;
  --footer-bg-color: #27272c;
  --footer-color: #c0c0c0;
  --footer-border-color: #363636;
  --form-bg-color: #202025;
  --input-border-color: #808080;
  --input-bg-color: #202025;
  --scrollbarBG: #2a2a2f;
  --thumbBG: #424247;

  --navbar-bg-color: #121215;
  --navbar-bg-color-hover: #202025;
}
*:focus {
  /* Remove Outline after interacting with elements*/
  outline: 0;
}
body{
  background-color: var(--bg-color);
  color: var(--font-color);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

  scrollbar-width: auto;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar {
  width: 16px;
  color: var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 2px solid var(--scrollbarBG);
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 80%, 0.25), inset -2px -2px 2px rgba(61, 61, 61, 0.25);
}
h1, h2, h3, h4, h5{
  color: var(--heading-color);
  font-family: "Roboto Slab";
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 21px;
}
h5 {
  font-size: 18px;
}
p {
  font-size: 18px;
  line-height: 1.7em;
  margin: 1.25em 0;
}
li {
  font-size: 18px;
}
a:link, a:visited {
  color: var(--font-color);
  text-decoration: none;
}
a:hover{
  color: var(--primary-color);
  text-decoration: none;
}
.header{
  text-align: center;
  font-size: 36px;
  margin-bottom: 16px;
  margin-top: 0px;
  color: var(--heading-color);
  font-family: "Roboto Slab";
}
.subheader{
  text-align: center;
  font-size: 28px;
  margin-top: 16px;
  margin-bottom: 32px;
  color: var(--heading-color);
  font-family: "Roboto Slab";
}
.margin-center{
  margin: var(--body-margin);
}
.limit-width{
  max-width: var(--body-max-width);
}
.inline-block{
  display: inline-block;
}
.work-break{
  word-break: break-all;
}
.logoimg{
  max-width: 36px;
  vertical-align: bottom;
}
.logomain{
  height: clamp(96px,20vh,128px);
  background-color: var(--primary-color);
  border-radius: 64px;
}
.imgprofile{
  border-radius: 50%; width: 192px;
}
.modal{
  position: fixed;
  background: var(--bg-color);
  border: var(--selectbarGuide-border-width) solid var(--border-color);
  border-radius: 8px;
  padding: 16px;
  z-index: 4;
  left: 0;
  right: 0;
  margin: 0px auto;
  max-width: 278px;

}
.modal2{
  position: fixed;
  background: var(--bg-color);
  border: var(--selectbarGuide-border-width) solid var(--border-color);
  border-radius: 8px;
  padding: 16px;
  z-index: 4;
  top: 50vh;
  left: 0;
  right: 0;
  margin: 0px auto;
  width: 100%;
}
.modal-url{
  color: var(--primary-color);
}
.modal-background{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 3;
}
.settingsnav{
  position: fixed;
  top: 50px;
  right: 0;
  width: 200px;
  height: 72px;
  color: var(--font-color);
  background-color: var(--side-bg-color);
  border-style: solid;
  border-width: 0px 0px 1px 1px;
  border-color: var(--side-border-color);
  text-align: center;
  font-weight: bold;
}
.nobullets{
  list-style-type: none;
}

.flex-item{
  flex: 1 0 auto;
}
.flex-container{
  display: flex;
}
.flex-container.row{
  flex-direction: row;
}
.flex-container.column{
  flex-direction: column;
}
.flex-container.wrap{
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.flex-container.align-items-center{
  align-items: center;
}
.flex-container.align-items-flex-start{
  align-items: flex-start;
}
.flex-container.align-items-flex-end{
  align-items: flex-end;
}
.flex-container.justify-content-center {
  justify-content: center;
}
.flex-container.justify-content-space-around {
  justify-content: space-around;
}
.flex-container.justify-content-space-between{
  justify-content: space-between;
}
.main-container{
  min-height: 100vh;
}

.content-centering{
  margin: var(--body-margin);
  max-width: var(--body-max-width);
}
.container-padding{
  padding: var(--body-padding);
}

button, input, select, label{
  cursor: pointer;
}
.button {
  background-color: var(--primary-color);
  border: none; /* 2px solid #000000; */
  border-radius: 8px;
  color: var(--secondary-color) !important; /* Text Color */
  padding: 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition-duration: 0.25s; /* Safari */
  transition-duration: 0.25s;
  cursor: pointer;
  display: inline-block;
}
.button_modal{
  margin: 0px 16px;
  padding: 8px 16px;
  font-weight: bold;
}
.button_submission{
  margin: 1.2em;
  margin-top: 0px;
  padding: 16px 16px;
  font-size: clamp(16px,6vw,20px);
  font-weight: bold;
}
.button_link{
  border: 0;
  background-color: var(--bg-color);
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-align: left;
}
.button_link:hover{
  color: var(--primary-color);
}
.sidenavbutton{
  margin: 0;
  font-weight: bold;
  border-radius: 0;
  vertical-align: top;
  padding: 13px 8px 13px 8px;  
}
.settingsnavbutton{
  float: right;
  padding: 13px;
}

.navbar-container{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--navbar-bg-color);
  z-index: 2;
}
.navbar{
  margin: var(--body-margin);
  max-width: var(--navbar-max-width);
  background-color: var(--navbar-bg-color);
  color: var(--font-color);
}
.navbar-desktop{
  display: inline-flex;
}
.navbar-mobile{
  display: none;
}
.navbar-button{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: var(--font-color);
  background-color: var(--navbar-bg-color);
  border: 0px;
}
.navbar-button:link {
  color: var(--font-color);
}
.navbar-button:visited {
  color: var(--font-color);
}
.navbar-button:hover{
  background-color: var(--navbar-bg-color-hover);
  text-decoration: none;
}
.navbar-collapsed{
  position: fixed;
  top: calc(var(--navbar-max-height) + var(--navbar-border-width));
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.flex-item-navbar{
  flex: 0 0 auto;
  padding: var(--navbar-padding-top-and-bottom) var(--navbar-padding-sides);
}
.flex-item-navbar > p {
  margin: 4px 0px 0px 0px;
}
.flex-item-navbar > i{
  font-size: 24px;
}
.flex-item-navbar.small{
  width: 90px;
}
.flex-item-padding{
  flex: 1 0 auto;
}
.navbar-mobile{
  display: none;
}

.button_active{
  background-color: #0099ff;
}
.button_main{
  font-weight: bold;
  font-family: "Roboto Slab";
  font-size: 24px;
  margin: 0px 16px;
}
.button_main:hover{
  background-color: var(--primary-color-v);
  text-decoration: none;
}
.button_support{
  vertical-align: top;
  font-weight: bold;
  padding: 4px 16px;
}
.button_support > img {
  vertical-align: middle;
  max-height: 48px;
}
.menuicon{
  font-size: 24px;
  width: 32px;
}
.bold{
  font-weight: bold;
}
.italic{
  font-style: italic;
}
.underline{
  text-decoration: underline !important;
}
.footer{
  flex-shrink: 0;
  padding: 8px 0px 8px 0px;
  background-color: var(--bg-color);
  font-size: 14px;
  color: var(--font-color);
  border-top: 1px solid var(--footer-border-color);
}
.footer > a {
  text-decoration: none;
  color: var(--footer-color);
  margin: 4px 16px;
  display: inline-block;
}
.footer > p {
  text-align: center;
  margin: 4px 16px 0px;
  font-size: 14px;
}


input, textarea{
  color: var(--font-color);
  background-color: var(--input-bg-color);
  border-color: var(--input-border-color);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  cursor: text;
}
@media (max-width: 1160px){
  .navbar-desktop{
    display: none;
  }
  .navbar-mobile{
    display: flex;
  }
  .navbar-collapsed .navbar-button{
    border-bottom: 1px solid var(--border-color);
  }
}

@media (max-width: 768px){
  .sidenavbutton{
    display: inline-block;
  }

  .footer{
    padding: 8px 0px 8px 0px;
  }
}
@media (max-width: 360px){
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  width: 60px;
  height: 34px;
  float: right;
  margin: -4px 8px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s;

  /* Font Awesome thing */
  content: "\f185";
  font-family: "Font Awesome 5 Free";
  font-size: 19pt;
  font-weight: bold;
  color: var(--secondary-color);
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);

  bottom: 4px;

  /* Font Awesome thing */
  content: "\f186";
  font-family: "Font Awesome 5 Free";
  font-size: 19pt;
  font-weight: bold;
  color: var(--secondary-color);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:after {
  border-radius: 50%;
}

.Collapsible__trigger{
  font-weight: bold;
  display: block;
  font-size: 18px;
}
.collapsible-arrow-down:after {
  font-family: "Font Awesome 5 Free";
  content: "\f107";
  position: relative;
  float: right;
}
.collapsible-arrow-up:after {
  font-family: "Font Awesome 5 Free";
  content: "\f106";
  position: relative;
  float: right;
}
