:root{
    --guide-link-article-color: #000000;
    --guide-link-header-color: #000000;
    --bg-img-color: #ffffff;
    --guide-body-color: #ffffff;

    --selectbarGuide-height: 32px;
    --selectbarGuide-padding: 16px;
    --selectbarGuide-border-width: 1px;

    --sidenavGuide-padding: 16px;
}
html[data-theme = "dark"]{
    --guide-link-article-color: #ececec;
    --guide-link-header-color: #ececec;
    --bg-img-color: #bdbdbd;
    --guide-body-color: #202025;
}
.sidenavGuide{
    width: 320px;
    padding: var(--sidenavGuide-padding);
    height: calc(100vh - var(--navbar-max-height) - var(--navbar-border-width) - (2 * var(--selectbarGuide-padding)));
    top: calc(var(--navbar-max-height) + var(--navbar-border-width));
}
.table-of-contents-button{
    color: var(--font-color);
    background-color: var(--side-button-bg-color);
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    font-size: 16px;
    padding: 6px 12px;
}
.table-of-contents-button i {
    font-size: 16px;
}
.selectbarGuide{
    position: fixed;
    padding: var(--selectbarGuide-padding);
    top: calc(var(--navbar-max-height) + var(--navbar-border-width));;
    height: var(--selectbarGuide-height);
    border-bottom: 1px solid var(--side-border-color);
    border-right: 1px solid var(--side-border-color);
    background-color: var(--side-bg-color);
}

.guideslistTitle{
    margin-left: -20px;
    font-weight: bold;
    margin-left: 10px;
}
.guidelink-container{
    margin: 16px 0px;
}
.guidelink{
    font-size: 18px;
    font-weight: bold;
}
.guidelink-container > a,
.guidelink-container > * a {
    color: var(--guide-link-article-color);
}
.guidelink-container > ul > li > ul{
    margin-top: 8px;
}
.guideHeaders, .guideHeaders > *,.guideHeaders > * >*{
    margin: 0px;
}
.guideSection {
    margin-bottom: 64px;
}
.guideSectionHeader {
    font-size: 28px;
    margin-bottom: 16px;
    font-weight: bold;
    font-family: "Roboto Slab";
}
.guideItem{
    margin-bottom: 32px;
}
.guideItemLink {
    color: var(--link-color);
    font-size: 24px;
    font-weight: bold;
}
.guideItemExcerpt{
    font-size: 18px
}
ul,ol{line-height: 1.5;}
li{margin-bottom: 12px;}
.imgguide{
    max-height: 80px;
    max-width: 90%;
}
.guide-container {
    padding-left: 36vw;
    padding-right: 40px;
}
.guide{
    max-width: 700px !important;
    background-color: var(--guide-body-color);
    padding: 32px 64px;
    padding-top: 0px;
}
.guide > .lastmodified{
    font-size: 12px; 
    color: var(--footer-color);
    margin: 0;
    margin-top: -24px;
    font-style: italic;
}
.guide > div > .guideimg {
    text-align: center;
    background-color: var(--bg-img-color);
    margin-top: 0.5em;
}
.guide > div > .guideimg > a{
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 0;
}
.guide > div > .guideimg > * > img{
    max-height: 80px;
    max-width: 90%;
}
.guide > div > .guideimg > i {
    color: #000000;
}
.guide > div > h1{
    margin-top: 0em;
    margin-bottom: 0em;
    padding-top: 16px;
}
.guide > div > h2, h3, h4, h5{
    margin-top: 0em;
    margin-bottom: 0em;
}
.guide > div > h2{
    margin-top: 2em;
}
.guide > div > h3{
    margin-top: 1.5em;
}
.guide > div > h4{
    margin-top: 1.5em;
}
.guide > div > h5{
    margin-top: 1.5em;
}


@media (min-width: 1080px) and (max-width: 1250px){
    .guide-container{
        padding-right: 30px;
    }
}
@media (min-width: 769px) and (max-width: 1080px){
    .guide-container{
        padding-left: 353px;
        padding-right: 0px;
    }
    .guide{
        padding: 32px 32px;
        padding-top: 8px;
    }
}
@media (max-width: 1080px){
    body{
        /*
        background-color: var(--guide-body-color);
        */
    }
}
@media (max-width: 768px){
    .sidenavGuide{
        top: calc(var(--navbar-max-height) + var(--navbar-border-width) + var(--selectbarGuide-height) + (2 * var(--selectbarGuide-padding)) + var(--selectbarGuide-border-width));
        height: calc(100vh - var(--navbar-max-height) - var(--navbar-border-width) - var(--selectbarGuide-height) - (2 * var(--selectbarGuide-padding)) - var(--selectbarGuide-border-width) - (2*var(--sidenavGuide-padding)));
    }
    .guide-container{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 48px;
    }
    .guide{
        max-width: 100%;
        padding: 20px;
    }
    .selectbarGuide{
        width: calc(100% - (2*var(--selectbarGuide-padding)));
        border-right: 0px;
    }
}
@media (max-width: 430px) {
    .selectbarGuide>button{
        margin: 0px !important;
        width: 100% !important;
    }
  }