:root{
    --guide-link-article-color: #000000;
    --guide-link-header-color: #000000;
    --bg-img-color: #ffffff;
    --guide-body-color: #ffffff;

    --selectbarGuide-height: 32px;
    --selectbarGuide-padding: 16px;
    --selectbarGuide-border-width: 1px;

    --sidenavGuide-padding: 16px;
    --sidenavGuide-width: 320px;

    --header-font-color: #005b96;
    --h1-font-size: clamp(28px,6vw,36px);
    --h2-font-size: clamp(24px,5vw,30px);
    --h3-font-size: clamp(21px,4vw,24px);
    --h4-font-size: clamp(19px,3vw,21px);
    --body-font-size: clamp(16px,3vw,18px);
}
html[data-theme = "dark"]{
    --guide-link-article-color: #ececec;
    --guide-link-header-color: #ececec;
    --bg-img-color: #bdbdbd;
    --guide-body-color: #202025;
    --header-font-color: #7CD5FF;
}
.sidenavGuide{
    min-width: var(--sidenavGuide-width);
    margin-top: 32px;
    margin-right: 32px;
    padding: var(--sidenavGuide-padding);
    padding-top: 0px;
    top: calc(var(--navbar-max-height) + var(--navbar-border-width));
    border-right: 1px solid var(--side-border-color);
}
.table-of-contents-button{
    color: var(--font-color);
    background-color: var(--side-button-bg-color);
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    font-size: 16px;
    padding: 6px 12px;
}
.table-of-contents-button i {
    font-size: 16px;
}
.selectbarGuide{
    position: fixed;
    display: none;
    padding: var(--selectbarGuide-padding);
    top: calc(var(--navbar-max-height) + var(--navbar-border-width));
    left: 0px;
    height: var(--selectbarGuide-height);
    border-bottom: 1px solid var(--side-border-color);
    border-right: 1px solid var(--side-border-color);
    background-color: var(--side-bg-color);
}

.guideslistTitle{
    margin-left: -20px;
    font-weight: bold;
    margin-left: 10px;
}
.guidelink{
    font-size: 18px;
    font-weight: bold;
}
.guidelink-container > a,
.guidelink-container > * a {
    color: var(--guide-link-article-color);
}
.guidelink-container > ul > li > ul{
    margin-top: 8px;
}
.guideHeaders, .guideHeaders > *,.guideHeaders > * >*{
    margin: 0px;
}
.guideSection {
    margin-bottom: 64px;
}
.guideSectionHeader {
    font-size: 28px;
    margin-bottom: 16px;
    font-weight: bold;
    font-family: "Roboto Slab";
}
.guideItem{
    margin-bottom: 32px;
}
.guideItemImage{
    height: auto;
    max-width: 10vw;
    min-width: 48px;
}
.guideItemTextBlock{
    vertical-align: top;
    display: inline-block;
    padding-left: 8px;
    max-width: 80%;
}
.guideItemLink {
    color: var(--link-color);
    font-size: 24px;
    font-weight: bold;
}
.guideItemExcerpt{
    font-size: 18px;
    margin-top: 12px;
}
ul,ol{line-height: 1.5;}
li{margin-bottom: 12px;}
.imgguide{
    max-height: 80px;
    max-width: 90%;
}
.guideLogoImage {
    height: 32px;
    vertical-align: middle;
    image-rendering: pixelated;
    padding-right: 8px;
}

.guide-container{
    margin: var(--body-margin);
    justify-content: center;
    max-width: 800px;
}
.publishedDate {
    padding-top: 32px;
    color: var(--footer-color);
}
.updatedDate {
    padding-top: 4px;
    color: var(--footer-color);
}
hr {
    border-color: var(--footer-color);
}
.guide{
    max-width: calc(var(--body-max-width) - var(--sidenavGuide-width));
    background-color: var(--bg-color);
}
.guide > .lastmodified{
    font-size: 12px; 
    color: var(--footer-color);
    margin: 0;
    margin-top: -24px;
    font-style: italic;
}
.guide > div > .guideimg {
    text-align: center;
    /* background-color: var(--bg-img-color); */
    margin-top: 0.5em;
}
.guide > div > .guideimg > a{
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 0;
    text-underline-offset: 10px;

}
.guide > div > .guideimg > * > img{
    max-height: 80px;
    max-width: 90%;
    position: relative;
    z-index: 1;
}

.bg-circle::before {
    content: "\f111";
    font-family: FontAwesome;
    color: #ffffff;
    margin: 0px;
    padding: 4px;
    display: inline-block;
    font-size: 30px;
    left: 35px;
    position: relative;
    z-index: 0;
    vertical-align: middle;
}
.bg-circle-large::before {
    content: "\f111";
    font-family: FontAwesome;
    color: #ffffff;
    margin: 0px;
    padding: 4px;
    display: inline-block;
    font-size: 40px;
    left: 39px;
    position: relative;
    z-index: 0;
    vertical-align: middle;
}
.bg-square::before {
    content: "\f0c8";
    font-family: FontAwesome;
    color: #ffffff;
    margin: 0px;
    padding: 4px;
    display: inline-block;
    font-size: 42px;
    left: 38px;
    position: relative;
    z-index: 0;
    vertical-align: middle;
}

.guide > div > h1{
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: var(--h1-font-size);
}
.guide > div > h2, h3, h4, h5{
    margin-top: 0em;
    margin-bottom: 0em;
}
.guide > div > h2{
    margin-top: 1em;
    color: var(--header-font-color);
    font-size: var(--h2-font-size);
}
.vertical-align{
    vertical-align: middle;
}
.guide > div > h3{
    margin-top: 1.5em;
    color: var(--header-font-color);
    font-size: var(--h3-font-size);
}
.guide > div > h4{
    margin-top: 1.5em;
    color: var(--header-font-color);
    font-size: var(--h4-font-size);
}
.guide > div > h5{
    margin-top: 1.5em;
    color: var(--header-font-color);
}
.guide > div li{
    font-size: var(--body-font-size);
}
.guide > div p{
    font-size: var(--body-font-size);
}
.guide div a{
    text-decoration: underline;
}
.guide p a{
    text-decoration: underline;
}
@media (min-width: 1080px) and (max-width: 1250px){
}
@media (min-width: 769px) and (max-width: 1080px){
}
@media (max-width: 768px){
    .sidenavGuide{
        position: fixed;
        display: none;
        top: calc(var(--navbar-max-height) + var(--navbar-border-width) + var(--selectbarGuide-height) + (2 * var(--selectbarGuide-padding)) + var(--selectbarGuide-border-width));
        left: 0px;
        height: calc(100vh - var(--navbar-max-height) - var(--navbar-border-width) - var(--selectbarGuide-height) - (2 * var(--selectbarGuide-padding)) - var(--selectbarGuide-border-width) - (2*var(--sidenavGuide-padding)));
    }
    .selectbarGuide{
        display: block;
        width: calc(100% - (2*var(--selectbarGuide-padding)));
        border-right: 0px;
    }
    .guideItemExcerpt{
        display: none;
    }
}
@media (max-width: 430px) {
    .selectbarGuide>button{
        margin: 0px !important;
        width: 100% !important;
    }
  }