.home{
    text-align: center;
    padding-bottom: 32px;
    padding: 0px 64px;
    margin: 0px auto
}
.home p {
font-size: 18px;
margin-top: 8px;
margin-bottom: 12px;
}
.home h2 {
margin-top: 36px;
margin-bottom: 8px;
}
.home a {
  margin-bottom: 16px;
}
.home i {
  font-size: 56px;
  padding: 0px 8px;
}
.home h3 {
  margin-bottom: 16px;
  color: var(--secondary-color) !important; /* Text Color */
}
@media (max-width: 768px) {
    .home {
        padding: 0px 20px;
    }
}