:root{
    --homeSectionPadding: clamp(20px,9vh,115px) 0px;
    --homeButtonFontSize: clamp(18px,3vh,24px);
}
.homeSection{
    margin: 0px auto;
    max-width: 1200px;
    padding: var(--homeSectionPadding);
}
.homeLandingSection{
    position: relative;
    padding: var(--homeSectionPadding);
}
.homeHeader{
    font-size: clamp(24px,8vh,48px);
    margin-bottom: 16px;
    font-family: "Roboto Slab";
    color: var(--secondary-color);
}
.homeSubHeader{
    font-size: clamp(18px,7vh,36px);
    margin-bottom: 16px;
    font-family: "Roboto Slab";
    color: var(--secondary-color);
}
.homeSectionHeader{
    font-family: "Roboto Slab";
    font-size: 32px;
    margin-bottom: 16px;
}
.homeHeaderBackground{
    background: linear-gradient(150deg, rgba(0,185,255,1) 0%, rgba(0,138,255,1) 25%, rgb(0, 42, 255) 100%);
    position: relative;
}
.altBackground{
    background-color: var(--bg-color2);
}
.flex-item-home{
    flex: auto;
    flex-basis: 300px;
    max-width: 800px;
    padding: 16px;
}
.home{
    text-align: center;
    margin: 0px auto;
}
.home p {
    font-size: clamp(16px,2vw,20px);
}
.home h2 {
    margin-top: 0px;
}
.homeHeaderButton {
    margin-bottom: 32px;
    padding: clamp(8px,3vh,16px);
    font-size: var(--homeButtonFontSize);
}
.homeSectionButton{
    margin-top: 16px;
    font-size: var(--homeButtonFontSize);
}
.home i {
  font-size: 56px;
  padding: 0px 8px;
}
.home h3 {
  margin-bottom: 16px;
  color: var(--secondary-color) !important; /* Text Color */
}
.home-image{
    margin: 1.5em 0;
}
.home-image-background{
    background-image: url("https://ik.imagekit.io/ucxasjyuy/expanded-game-dev-icons-black.svg");
    background-size: 1200px;
}
.home-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.home-shadow-text{
    text-shadow: 4px 4px 4px #000000;
}
.home-shadow-box{
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
}
