.home{
    text-align: center;
    padding-bottom: 32px;
  }
.home > p {
font-size: 18px;
margin-top: 8px;
margin-bottom: 12px;
}
.home > h2 {
margin-top: 36px;
margin-bottom: 8px;
}
.home > a {margin-bottom: 16px;}