:root{
  --table-header-color: #ffffff;
  --table-border-color: #b8b8b8;
  --table-row-color-1: #ffffff;
  --table-row-color-2: #eeeeee;
  --status-green: #0b8800;
  --status-yellow: #b67c00;
  --status-red: #cf0000;
  --chip-font-color: #757575;
  --chip-color: #f5f5f5;

  --selectbarRes-height: 62px;
  --selectbarRes-padding: 16px;
  --selectbarRes-border-width: 1px;

  --rsidenav-width: 275px;
  --rsidenav-padding: 16px;
  --side-border-radius: 8px;

  --table-border-radius: 10px;

  --disable-font-color: #b7b7b7;

  --resource-section-bg-color: #a9d3f6;
  --resource-section-bg-color-hover: #59bfff;
}
html[data-theme = "dark"]{
  --table-header-color: #202025;
  --table-border-color: #565656;
  --table-row-color-1: #202025;
  --table-row-color-2: #424242;
  --status-green: #64fd50;
  --status-yellow: #ffe65c;
  --status-red: #ff4a4a;
  --chip-font-color: #9f9f9f;
  --chip-color: #212121;

  --disable-font-color: #727272;

  --resource-section-bg-color: #1c2c42;
  --resource-section-bg-color-hover: #274967;
}
input[type="checkbox"]:disabled + label {
  color: var(--disable-font-color);
}
.flex-container.rs-container-gap{
  row-gap: 64px;
  column-gap: 32px;
}
.flex-item-resources{
  flex: 0 1  auto;
}
.flex-padding-rs{
  min-height: 170px;
}
.flex-item-resources-inner{
  flex: 1 0 auto;
  flex-basis: 300px;
  max-width: 360px;
  background-color: var(--resource-section-bg-color);
  cursor: default;
}
.flex-item-resources-inner > h3{
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--font-color);
}
.flex-item-resources-inner > img{
  min-width: 64px;
  max-width: 6vw;
}
.flex-item-resource-table-padding-left{
  flex: 1 0 auto;
  flex-basis: 380px;
  max-width: 380px;
}
.flex-item-resource-table{
  flex: 1 1 auto;
  padding-bottom: 64px;
  margin: var(--body-margin);
  max-width: var(--body-max-width);
  margin-right: 32px;
}
.resource_sheets_lists{
  font-size: 20px;
}
.resource_sheets_lists>*>img{
  vertical-align: middle;
  padding-right: 4px;
}
.resource_sheets_lists>div{
  padding-top: 16px;
  padding-bottom: 16px;
}
.resource_sheets_lists>*>a{
  text-decoration: underline;
}
.resource_sheets_lists>*>a:hover{
  text-decoration-color: var(--primary-color-v);
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));
  grid-gap: 16px;
}
.grid-item{
  border-bottom: 1px solid var(--table-border-color);
  border-radius: var(--table-border-radius);
  border: 1px solid var(--table-border-color);
  padding: 16px;
}
.flex-table-padding{
  flex: 0 1 auto;
  min-width: 0px;
  max-width: 0px;
}
.list-container{
  border: 1px solid var(--table-border-color);
  border-radius: var(--table-border-radius);
}
.flex-list-item{
  flex: 1 0 auto;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--table-border-color);
  padding: 16px;
}
.flex-list-item:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.flex-list-item:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.entry-image{
  padding: 8px;
  padding-right: 0;
  display: inline-block;
}
.entry-name-table{
  color: var(--font-color);
  font-weight: bold;
}
/*.entry-name-table a:link, a:visited{
  color: var(--font-color);
  font-weight: bold;
}*/
.entry-name{
  font-size: clamp(20px,3vw,28px);
  vertical-align: middle;
  padding: 8px;
  padding-right: 0;
  display: inline-block;
  font-weight: bold;
  max-width: 80%;
}
.entry-name-grid{
  font-size: clamp(16px,3vw,28px);
  vertical-align: middle;
  padding: 8px;
  padding-right: 0;
  display: inline-block;
  font-weight: bold;
  max-width: 80%;
}
.entry-chip{
  border-radius: 5px;
  display: inline-block;
  padding: 4px 8px;
  margin: 4px;
  font-weight: bold;
  font-size: clamp(16px,2vw,18px);
}
.entry-chip i {
  padding: 0px 2px;
  font-size: 16px;
}
.entry-description{
  font-size: clamp(16px,2vw,18px);
  margin: 8px 0px;
}
.chip-color{
  color: var(--chip-font-color);
  background-color: var(--chip-color);
  border: 1px solid var(--chip-font-color);
}

.accepted{
  color: var(--status-green);
  font-weight: bold;
}
.pending{
  color: var(--status-yellow);
  font-weight: bold;
}
.declined{
  color: var(--status-red);
  font-weight: bold;
}
.rsidenav {
  margin: 0px 32px 0px 16px;
  padding: var(--rsidenav-padding);

  width: var(--rsidenav-width);
  background-color: var(--bg-color);
  border: 1px solid var(--side-border-color);
  border-bottom-left-radius: var(--side-border-radius);
  border-bottom-right-radius: var(--side-border-radius);
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.rsidenav::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.rsidenav::-webkit-scrollbar {
  width: 16px;
}
.rsidenav::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 2px solid var(--scrollbarBG);
}
.viewButton{
  font-size: 16px;
  display: inline-block;
  color: var(--font-color);
  background-color: var(--side-button-bg-color);
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  padding: 8px 12px;
  display: inline !important;
  width: 130px;
}
.resetButton{
  font-size: 16px;
  display: inline-block;
  color: var(--font-color);
  background-color: var(--side-button-bg-color);
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  padding: 2px 12px;
}
.selectbar{
  margin: 0px 32px 0px 16px;
  padding: 16px;
  top: calc(var(--navbar-max-height) + var(--navbar-border-width));
  width: var(--rsidenav-width);
  /*height: var(--selectbarRes-height);*/
  border: var(--selectbarRes-border-width) solid var(--side-border-color);
  border-bottom: 0px;
  border-top-left-radius: var(--side-border-radius);
  border-top-right-radius: var(--side-border-radius);
  background-color: var(--bg-color);
}

select{
  color: var(--font-color);
  background-color: var(--side-button-bg-color);
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
}
.tableSelect{
  font-size: 18px;
  width: 100%;
  padding: 5px 5px;
}
.tableTitle{
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
}
#tname{
  font-size: clamp(24px,6vw,32px);
}
.select-flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.select-flex-item{
  flex: 0 1 auto;
  display: inline-block;
}
.select-flex-item-padding{
  flex: 1 1 auto;
  display: inline-block;
}
.flex-filter-item{
  flex: 0 1 auto;
  display: inline-block;
}
.flex-filter-item-padding{
  flex: 1 1 auto;
  display: inline-block;
}
.filterSortButton{
  color: var(--font-color);
  background-color: var(--side-button-bg-color);
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  display: none;
}
.filterSortButton img{
  height: 20px;
}
.filtername{
  font-size: 18px;
}
.listTitle{
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
}
.listTitle ul{
  margin-top: 8px;
  margin-bottom: 24px;
  padding-left: 12px;
}
.listTitle input{
  margin: 0px 8px 0px 4px;
}

/* TODO - Fix the table css to apply just be resource tables. */
table {
  border-spacing: 0px;
}
#myTable{
  width: 100%;
}
#myTable th {
  font-size: 18px;
  background-color: var(--bg-color);
  white-space: nowrap;
}
#myTable td{
  font-size: 18px;
  line-height: 1.25em;
  background-color: var(--bg-color);
}
.emptyRow{
  column-span: all;
  text-align: center;
}
#myTable td,
#myTable th {
  vertical-align: middle;
  text-align: left;
  padding: 20px 8px;
}
tr, th {
  border-top: 1px solid var(--table-border-color);
  border-bottom: 3px solid var(--table-border-color);
}
tr, td {
  border-bottom: 1px solid var(--table-border-color);
}
tr, th:first-child, td:first-child {
  border-left: 1px solid var(--table-border-color);
  padding-right: 0;
}
tr, th:last-child, td:last-child {
  border-right: 1px solid var(--table-border-color);
}
th:first-child {
  border-top-left-radius: 10px;
}
th:last-child {
  border-top-right-radius: 10px;
}
tr:last-child > td:first-child {
  border-bottom-left-radius: 10px;
}
tr:last-child > td:last-child {
  border-bottom-right-radius: 10px;
}
#myTable i{
  font-size: 16pt;
  padding: 2px;
}
#myTable td:nth-child(2){
  font-size: 14pt;
}
.tableimg {
  width: 32px;
  vertical-align: middle;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
.globalSearch {
  font-size: 18px;
  width: calc(100% - 6px);
}
.pagination{
  margin-top: 4px;
  margin-left: 8px;
}
.pagination *{
  margin-top: 8px;
  font-size: 16px;
}
@media (min-width: 769px) and (max-width: 1600px) {
  .flex-item-resource-table-padding-left {
    max-width: 340px;
  }
  .flex-item-resource-table-padding-right {
    min-width: 33px;
  }
}
@media (min-width: 1440px) and (max-width: 1600px) {
  #myTable th:nth-child(n + 8):nth-last-child(n+2),
  #myTable td:nth-child(n + 8):nth-last-child(n+2){
    display: none;
  }
}
@media (min-width: 1315px) and (max-width: 1439px) {
  #myTable th:nth-child(n + 7):nth-last-child(n+2),
  #myTable td:nth-child(n + 7):nth-last-child(n+2){
    display: none;
  }
}
@media (min-width: 1180px) and (max-width: 1314px) {
  #myTable th:nth-child(n + 6):nth-last-child(n+2),
  #myTable td:nth-child(n + 6):nth-last-child(n+2){
    display: none;
  }
}
@media (min-width: 1080px) and (max-width: 1179px) {
  #myTable th:nth-child(n + 5):nth-last-child(n+2),
  #myTable td:nth-child(n + 5):nth-last-child(n+2){
    display: none;
  }
}
@media (min-width: 920px) and (max-width: 1080px) {
  #myTable th:nth-child(n + 4):nth-last-child(n+2),
  #myTable td:nth-child(n + 4):nth-last-child(n+2){
    display: none;
  }
  #myTable td,
  #myTable th {
    padding: 16px 8px;
  }
}
@media (min-width: 769px) and (max-width: 919px) {
  #myTable th:nth-child(n + 3):nth-last-child(n+2),
  #myTable td:nth-child(n + 3):nth-last-child(n+2){
    display: none;
  }
  #tname{
    font-size: 28px;
  }
  #myTable td,
  #myTable th {
    padding: 14px 7px;
  }
}
@media (max-width: 768px) {
  .flex-container.rs-container-gap{
    row-gap: 32px;
  }
  .flex-item-resources-inner{
    padding: 0;
    background-color:var(--bg-color)
  }
  .resource_sheets_lists>div{
    padding-top: 4px;
    padding-bottom: 4px;
  }
  #myTable th:first-child {
    border-top-left-radius: 0px;
  }
  #myTable th:last-child {
    border-top-right-radius: 0px;
  }
  #myTable tr:last-child td:first-child {
    border-bottom-left-radius: 0px;
  }
  #myTable tr:last-child td:last-child {
    border-bottom-right-radius: 0px;
  }
  :root{
    --selectbarRes-padding: 10px;
  }
  :root{
    --selectbarRes-height: 47px;
  }
  .rsidenav{
    position: fixed;
    top: 0px;
    margin: 0;
    width: calc(100vw - 2*var(--rsidenav-padding));
    height: calc(100vh - var(--navbar-max-height) - var(--navbar-border-width) - var(--selectbarRes-height) - (2 * var(--selectbarRes-padding)) - var(--selectbarRes-border-width) - (2 * var(--rsidenav-padding)));
    border: 0;
    border-right: 0px;
    display: none;
  }
  .flex-item-resource-table-padding-left {
    max-width: 0px;
  }
  .flex-item-resource-table-padding-right {
    min-width: 0px;
  }
  .flex-item-resource-table{
    margin-right: 0;
  }
  #myTable {
    width: 100vw;
  }
  .selectbar{
    position: fixed;
    top: auto;
    bottom: calc(0px + var(--navbar-max-height));
    margin: 0;
    border-radius: 0;
    border: 0;
    border-top: 2px solid var(--side-border-color);
    padding: var(--selectbarRes-padding);
    border-right: 0px;
    width: calc(100vw - 2*var(--selectbarRes-padding));
    z-index: 2;
  }
  .selectbar *{
    font-size: 18px;
  }
  .selectbar > * *{
    font-size: 18px;
  }
  .select-flex-container {
    flex-wrap: nowrap;
  }
  .select-flex-item {
    margin: 4px 4px;
    white-space: nowrap;
  }
  .select-flex-item-padding{
    display: none;
  }
  .viewButton{
    width: 240px;
    padding: 6px 12px;
  }
  .filterSortButton{
    display: inline-block;
    padding: 6px 12px;
    width: 240px;
  }

  .tableTitle{
    display: none;
  }
  #tname{
    margin-top: 4px;
    margin-bottom: 4px;
  }
  #myTable td,
  #myTable th {
    font-size: 13pt;
    padding: 12px 8px;
  }
  #myTable td:nth-child(2){
    font-size: 12pt;
  }
  #myTable th:nth-child(n + 5):nth-last-child(n+2),
  #myTable td:nth-child(n + 5):nth-last-child(n+2){
    display: none;
  }
  #myTable tr th:first-child,
  #myTable tr td:first-child {
    border-left: 0px;
  }
  #myTable tr th:last-child,
  #myTable tr td:last-child {
    border-right: 0px;
  }
  .grid-container{
    grid-template-columns: repeat(auto-fill, minmax(50%, 0fr));
    grid-gap: 0px;
  }
  .grid-item{
    border-radius: 0;
    background-color: var(--bg-color);
    padding: 8px;
  }
  .grid-item:nth-child(n){
    border-left: 0;
  }
  .grid-item:nth-child(2n){
    border-right: 0;
  }
  .entry-name-grid{
    max-width: 66%;
  }
  .list-container{
    border: 0;
    border-top: 1px solid var(--table-border-color);
    border-radius: 0;
  }
  .flex-list-item{
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--table-border-color);
  }
  .flex-list-item:first-child {
    border-radius: 0;
  }
  .flex-list-item:last-child {
    border-radius: 0;
  }
  .disableScroll{
    overflow: hidden;
  }
}
@media (max-width: 529px) {
  #myTable th:nth-child(n + 4):nth-last-child(n+2),
  #myTable td:nth-child(n + 4):nth-last-child(n+2){
    display: none;
  }
  #myTable td,
  #myTable th {
    font-size: 11pt;
  }
  .selectbarRes>button{
    margin-right: 1%;
    width: 45%;
    height: 35px;
    margin-left: 4px;
    margin-right: 0px;
  }
}
@media (max-width: 430px) {
  :root{
    --selectbarRes-height: 40px;
  }
  #myTable th:nth-child(n + 3):nth-last-child(n+2), 
  #myTable td:nth-child(n + 3):nth-last-child(n+2){
    display: none;
  }
  #myTable th:nth-last-child(n+10), 
  #myTable td:nth-last-child(n+10){
    display: none;
  }
  .selectbar *{
    font-size: 16px;
  }
  .selectbar > * *{
    font-size: 16px;
  }
  .viewButton {
    padding: 6px!important;
  }
  .viewButton > i{
    margin: 0px !important;
  }
  .selectbarRes>button {
    width: 39%;
  }
  .selectbar>button>img{
    height: 18px;
    vertical-align: -3px;
  }
  .entry-image.grid img{
    width: 24px;
  }

  .filterSortButton{
    padding: 6px;
  }
}
@media (max-width: 420px)  {
  #myTable th:nth-child(n + 3):nth-last-child(n+1),
  #myTable td:nth-child(n + 3):nth-last-child(n+1){
    display: none;
  }
}